<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389704951143-5k4qdc3ir8advskscsekppa76ulo2qm0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389704951143-5k4qdc3ir8advskscsekppa76ulo2qm0</string>
	<key>API_KEY</key>
	<string>AIzaSyBvVvNQeeTmuiZ59JesVAcMuQaxBRDe42s</string>
	<key>GCM_SENDER_ID</key>
	<string>389704951143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Softskan-Limited.Ofidy-Shopping-Browser</string>
	<key>PROJECT_ID</key>
	<string>ofidy-15fac</string>
	<key>STORAGE_BUCKET</key>
	<string>ofidy-15fac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389704951143:ios:ed76e571f8777d3da1fbc2</string>
</dict>
</plist>